body {
  background-color: #efefef;
  color: #555;
}
.nav a {
  color: #5a5a5a;
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
}

.nav li {
  display: inline;
}

.navbar {
  margin-bottom: 0;
}

.jumbotron {
  background-image: url('img/os-sky.jpg'); /* 482 * 724 */
  background-repeat: no-repeat;
  background-size: 100%;
}

.maintitle {
  width: 308px;
  padding: 10px;
  background-color: #fff;
  opacity: 0.8;
  border-radius: 4px;
}

.jumbotron .container {
  position: relative;
  top: 100px;
}

.jumbotron h1 {
  color: #555;
  font-size: 48px;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 500;
  text-shadow: none;
}

.jumbotron p {
  font-size: 20px;
  margin-bottom: 0px;
  text-shadow: none;
}

.info {
  padding: 20px;
}

.info h3 {
  font-family: 'PT Sans', 'Shift', sans-serif;
  font-size: 18px;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.roster {
}

.roster #yearlist {
  list-style: none;
}
.roster #yearlist li {
  display: inline;
  margin: 4px 8px;
}

.roster a {
  color: #333;
}

.roster .year {
  display: none;
}
.roster .captains {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #dbdbdb;
  text-align: center;
}
.roster .player {
  padding-top: 50px;
}
.roster .player-image {
  padding-bottom: 100%;
  background-repeat: no-repeat;
  background-position: center top;

}
.roster .player-content {
  text-align: left;
  color: #333;
  overflow: auto;
  height: 250px;
  padding-left: 8px;
}

.players {
  width: 20%;
}

.highlights h3 {
  font-family: 'Shift', sans-serif;
  font-size: 18px;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.responsive-video {
position: relative;
padding-bottom: 56.25%;
padding-top: 60px; overflow: hidden;
}

.responsive-video iframe,
.responsive-video object,
.responsive-video embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

.footer {
  margin-top: 10px;
}
.footer .container {
  padding: 20px;
  border-top: 1px solid #dbdbdb;
  display: table;
}

.footer #outer {
  display: table-row;
  width: 100%;
}

.footer #inner {
  display: table-cell;
  float: right;
  padding-right: 10px;
}

.footer ul {
  list-style: none;
  text-align: right;
  margin-bottom: 0px;
}

.footer a {
  color: #333;
  text-decoration: underline;
}

.footer li {
  margin-top: 10px;
}

#logo {
  display: table-cell;
  float: right;
  height: auto; /* width is set to be height of #inner so they always align */
}
